./packages/core
./packages/appsdk
./packages/Microsoft.Windows.SDK.Win32Metadata.70.0.11-preview
./packages/Microsoft.Windows.SDK.Contracts.10.0.26100.7705
./packages/Microsoft.WindowsAppSDK.1.8.260317003
./packages/Microsoft.Web.WebView2.1.0.3856.49
./packages/Microsoft.Graphics.Win2D.1.4.0
pytest
